body {
  padding-top: 70px;
  background-color: #072F50;
}

.btn-cocktail {
  background-color: #082F4F;
  color: white;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.3s ease;
  opacity: O.9px;
}

// .container-creation {
//   margin: 0 auto;
// }
